body {
  font-family: "Raleway";
  background: #d53369; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #cbad6d,
    #d53369
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #cbad6d,
    #d53369
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);

}

.customDiv {
  background-color: rgba(255, 255, 255, 0.74);
  height: 150px;
  width: 150px;
}

.mt-50 {
  margin-top: 50px;
}


.playerXColor {
  color: #D53869
}


.playerYColor {
  color: #CD936C
}

.customButton {
  background-color: rgba(255, 255, 255, 0.74);
  color: #D53869;
}
